* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: "Comic Sans", cursive;
}

body>section:nth-child(2) {
    height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 3em;
}

body>section:nth-child(1) {
    color: white;
    padding: 4em;
}

body>section:nth-child(1) p:nth-of-type(1n+3) {
    max-width: 40em;
    margin-top: 0;
}

body>section:nth-child(1) h3 {
    color: orange;
    margin-bottom: .5em;
}

a {
    display: inline-block;
    margin-top: 1em;
    font-size: 1.2em;
    color: white;
    background-color: orange;
    padding: .5em;

}

form {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2em 3em;
    max-width: 500px;
    position: relative;
}

fieldset {
    border: none;
    padding: 0;
}

button {
    border: none;
    color: white;
    background-color: black;
    padding: .5em;
}

legend {
    font-size: 2em;
    text-transform: uppercase;
    color: orange;
    letter-spacing: .1em;
    margin-bottom: .3em;
}

label {
    display: inline-block;

}

form div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

input {
    margin: 4px;
}


form>div {
    display: block;
    padding: .3em;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    color: white;
}

form>div>p {
    margin: 0;
    margin-bottom: 1em;
}

form>div>p>span {
    font-weight: lighter;
    color: orange;
    opacity: 0;
}

form>div>p:hover>span {
    opacity: 1;
}

@keyframes bounce {
    0% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes bounce3 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-100%, -100%);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translate(0, 0);

    }
}



/* *************************** */
/* *********:FOCUS************ */
/* *************************** */

input:focus {
    color: white;
}

form:focus-within {
    background: orange;
    color: white;
}

form:focus-within legend {
    color: orangered;
}

form:focus-within label {
    animation: bounce 1s infinite;
    transform: rotate(-10deg);
}

form:focus-within input {
    animation: bounce2 .3s infinite ease-in-out;
    margin-left: 2em;
}

form:focus-within button {
    animation: bounce3 1s infinite;
}

form:focus-within h1::first-letter {
    display: inline-block;
    animation: rotate 1s infinite linear;
}

form>fieldset>div:focus-within {
    font-size: 1.3em;
}

form button:focus-visible {
    color: black;
    background-color: white;
}

form button:focus:not(:focus-visible) {
    background-color: orange;
}

form input:valid {
    background-color: green;
}

form input:invalid {
    background-color: red;
}

form div:nth-of-type(2) div {
    display: none;
    width: 100%;
}

form div:nth-of-type(2) div>label::first-letter {
    color: red;
    font-size: 1.4em;
}


form div:nth-of-type(2) div>input {
    animation: rotate 1s infinite linear;
}

form:focus-within div:nth-of-type(2) div>input {
    animation: rotate2 1s infinite linear;
}

form div:nth-of-type(2) input:valid~div {
    display: block;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

form div:nth-of-type(1) {
    flex-wrap: nowrap;
}