input[type="checkbox"]:nth-of-type(3):valid~section>div>div:nth-of-type(-n+9)>span:nth-of-type(6) {
    background-image: url('./images/eiffel.png');
    background-size: calc(var(--size)*3) calc(var(--size)*3);
}

/* remove color from :before elements to show images */
input[type="checkbox"]:nth-of-type(3):valid~section>div>div:nth-of-type(-n+9)>span:nth-of-type(6):before {
    background-color: transparent;
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-1>span:nth-of-type(6) {
    background-position: 0px 0px;
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-2>span:nth-of-type(6) {
    background-position: calc(var(--size)*-1) 0px;
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-3>span:nth-of-type(6) {
    background-position: calc(var(--size)*2*-1) 0px;
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-4>span:nth-of-type(6) {
    background-position: 0px calc(var(--size)*-1);
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-5>span:nth-of-type(6) {
    background-position: calc(var(--size)*-1) calc(var(--size)*-1);
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-6>span:nth-of-type(6) {
    background-position: calc(var(--size)*2*-1) calc(var(--size)*-1);
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-7>span:nth-of-type(6) {
    background-position: 0px calc(var(--size)*2*-1);
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-8>span:nth-of-type(6) {
    background-position: calc(var(--size)*-1) calc(var(--size)*2*-1);
}

input[type="checkbox"]:nth-of-type(3):valid~section>div>.one-9>span:nth-of-type(6) {
    background-position: calc(var(--size)*2*-1) calc(var(--size)*2*-1);
}

/* GRADIENT */
input[type="checkbox"]:nth-of-type(4):valid~section>div>div:nth-of-type(n+16)>span:nth-of-type(3) {
    --aantalPunten: 30;
    --kleur1: green;
    --kleur2: rgb(1, 51, 1);
    --hoek: calc(360deg/var(--aantalPunten));
    background-image: repeating-conic-gradient(from var(--rotateDeg) at 50% 50%,
            var(--kleur1) calc(var(--hoek)*1) calc(var(--hoek)*2),
            var(--kleur2) calc(var(--hoek)*2) calc(var(--hoek)*3));
    background-size: calc(var(--size)*3) calc(var(--size)*3);
    animation: rotatingGradient 8s linear normal infinite;
}

/* Draaien met houdini @property */
@property --rotateDeg {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0turn;
}

@keyframes rotatingGradient {
    0% {
        --rotateDeg: 0turn;
    }

    100% {
        --rotateDeg: -1turn;
    }
}


/* remove color from :before elements to show images */
input[type="checkbox"]:nth-of-type(4):valid~section>div>div:nth-of-type(n+16)>span:nth-of-type(3):before {
    background-color: transparent;
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-1>span:nth-of-type(3) {
    background-position: left top;
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-2>span:nth-of-type(3) {
    background-position: center top;
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-3>span:nth-of-type(3) {
    background-position: right top;
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-4>span:nth-of-type(3) {
    background-position: left center;
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-5>span:nth-of-type(3) {
    background-position: center center;
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-6>span:nth-of-type(3) {
    background-position: calc(var(--size)*2*-1) calc(var(--size)*-1);
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-7>span:nth-of-type(3) {
    background-position: 0px calc(var(--size)*2*-1);
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-8>span:nth-of-type(3) {
    background-position: calc(var(--size)*-1) calc(var(--size)*2*-1);
}

input[type="checkbox"]:nth-of-type(4):valid~section>div>.three-9>span:nth-of-type(3) {
    background-position: calc(var(--size)*2*-1) calc(var(--size)*2*-1);
}

@media (prefers-reduced-motion) {
    input[type="checkbox"]:nth-of-type(4):valid~section>div>div:nth-of-type(n+16)>span:nth-of-type(3) {
        animation: none;
    }
}