:root {
    --size: clamp(50px, 10vw, 120px);
    --offset: calc(var(--size)/2);
    --negative-offset: calc(var(--size)/2*-1);
    --rood: red;
    --blue: blue;
    --white: white;
    --green: green;
    --orange: orange;
    --yellow: yellow;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(64, 129, 131);
}

/* FORM */

input[type="checkbox"]:last-of-type:valid~div {
    animation: testRotate2 3s linear infinite;
    --rood: #ff000088;
    --blue: #0000ff88;
    --white: #ffffff88;
    --green: #00ff0088;
    --orange: #ff880088;
    --yellow: #ffff0088;
}

input,
label {
    display: inline-block;
    transform: translate(-300px, -100px);
}


main>span {
    display: block;
    width: calc(var(--size)*3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    box-shadow: 23px 10px 128px 115px rgb(0 0 0 / 52%);
}




/* cube */
main>div {
    transform-style: preserve-3d;
    /* transform: rotateY(10deg) rotateX(-10deg); */
    width: calc(var(--size)*3);
    height: calc(var(--size)*3);

    /* background-color: red */
}

/* cubie */
main>div>div {
    transform-style: preserve-3d;
    position: relative;
}

/* cubie wall */
main>div>div>span {
    position: absolute;
    display: inline-block;
    border: black calc(var(--size)/30) solid;
    width: var(--size);
    height: var(--size);
}

/* ************** */
/* **CUBIE WALLS* */
/* ************** */

main>div>div>span:nth-of-type(1) {
    background-color: var(--green);
    transform: rotateX(90deg) translateZ(var(--offset));
}

main>div>div>span:nth-of-type(2) {
    background-color: var(--rood);
    transform: rotateY(90deg) translateZ(var(--offset));
}

main>div>div>span:nth-of-type(3) {
    background-color: var(--white);
    transform: translateZ(var(--negative-offset));
}

main>div>div>span:nth-of-type(4) {
    background-color: var(--orange);
    transform: rotateY(90deg) translateZ(var(--negative-offset));
}

main>div>div>span:nth-of-type(5) {
    background-color: var(--blue);
    transform: rotateX(90deg) translateZ(var(--negative-offset));
}

main>div>div>span:nth-of-type(6) {
    background-color: var(--yellow);
    transform: translateZ(var(--offset));
}

/* ********************** */
/* **VERPLAATSEN CUBIESs* */
/* ********************** */

main>div>div {
    transition: transform .3s linear;
}

/* bovenste rij */
main>div>div:nth-of-type(1) {
    transform: rotateY(0deg) translateZ(calc(var(--size)*-1))
}

main>div>div:nth-of-type(2) {
    transform: rotateY(0deg) translateZ(calc(var(--size)*-1)) translateX(var(--size))
}

main>div>div:nth-of-type(3) {
    transform: rotateY(0deg) translateZ(calc(var(--size)*-1)) translateX(calc(var(--size)*2))
}

main>div>div:nth-of-type(4) {
    /* niks, eerste blok 2e rij staat goed */
    transform: rotateY(0deg) translate(0);
}

main>div>div:nth-of-type(5) {
    transform: rotateY(0deg) translateX(var(--size))
}

main>div>div:nth-of-type(6) {
    transform: rotateY(0deg) translateX(calc(var(--size)*2))
}

main>div>div:nth-of-type(7) {
    transform: rotateY(0deg) translateZ(calc(var(--size)))
}

main>div>div:nth-of-type(8) {
    transform: rotateY(0deg) translateZ(calc(var(--size))) translateX(var(--size))
}

main>div>div:nth-of-type(9) {
    transform: rotateY(0deg) translateZ(calc(var(--size))) translateX(calc(var(--size)*2))
}

/* middelste rij */
main>div>div:nth-of-type(10) {
    transform: translateY(var(--size)) translateZ(calc(var(--size)*-1))
}

main>div>div:nth-of-type(11) {
    transform: translateX(var(--size)) translateY(var(--size)) translateZ(calc(var(--size)*-1))
}

main>div>div:nth-of-type(12) {
    transform: translateX(calc(var(--size)*2)) translateY(var(--size)) translateZ(calc(var(--size)*-1))
}

main>div>div:nth-of-type(13) {
    transform: translateY(var(--size))
}

main>div>div:nth-of-type(14) {
    transform: translateX(var(--size)) translateY(var(--size))
}

main>div>div:nth-of-type(15) {
    transform: translateX(calc(var(--size)*2)) translateY(var(--size))
}

main>div>div:nth-of-type(16) {
    transform: translateZ(calc(var(--size))) translateY(var(--size))
}

main>div>div:nth-of-type(17) {
    transform: translateZ(calc(var(--size))) translateX(var(--size)) translateY(var(--size))
}

main>div>div:nth-of-type(18) {
    transform: translateZ(calc(var(--size))) translateX(calc(var(--size)*2)) translateY(var(--size))
}

/* onderste rij */
main>div>div:nth-of-type(19) {
    transform: translateY(calc(var(--size)*2)) translateZ(calc(var(--size)*-1))
}

main>div>div:nth-of-type(20) {
    transform: translateX(var(--size)) translateY(calc(var(--size)*2)) translateZ(calc(var(--size)*-1))
}

main>div>div:nth-of-type(21) {
    transform: translateX(calc(var(--size)*2)) translateY(calc(var(--size)*2)) translateZ(calc(var(--size)*-1))
}

main>div>div:nth-of-type(22) {
    transform: translateY(calc(var(--size)*2))
}

main>div>div:nth-of-type(23) {
    transform: translateX(var(--size)) translateY(calc(var(--size)*2))
}

main>div>div:nth-of-type(24) {
    transform: translateX(calc(var(--size)*2)) translateY(calc(var(--size)*2))
}

main>div>div:nth-of-type(25) {
    transform: translateZ(calc(var(--size))) translateY(calc(var(--size)*2))
}

main>div>div:nth-of-type(26) {
    transform: translateZ(calc(var(--size))) translateX(var(--size)) translateY(calc(var(--size)*2))
}

main>div>div:nth-of-type(27) {
    transform: translateZ(calc(var(--size))) translateX(calc(var(--size)*2)) translateY(calc(var(--size)*2))
}

@keyframes testRotate {
    0% {
        transform: rotateX(0deg)
    }

    50% {
        transform: rotateX(180deg)
    }

    100% {
        transform: rotateX(360deg)
    }
}

@keyframes testRotate2 {
    from {
        transform: rotate3d(0);
    }

    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

@media screen and (min-width: 800px) {

    /* bovenste rij */
    main>div>div:nth-of-type(1) {
        transform: rotateY(90deg) translateZ(calc(var(--size)*-1))
    }

    main>div>div:nth-of-type(2) {
        transform: rotateY(90deg) translateZ(calc(var(--size)*-1)) translateX(var(--size))
    }

    main>div>div:nth-of-type(3) {
        transform: rotateY(90deg) translateZ(calc(var(--size)*-1)) translateX(calc(var(--size)*2))
    }

    main>div>div:nth-of-type(4) {
        /* niks, eerste blok 2e rij staat goed */
        transform: rotateY(90deg) translate(0);
    }

    main>div>div:nth-of-type(5) {
        transform: rotateY(90deg) translateX(var(--size));
    }

    main>div>div:nth-of-type(6) {
        transform: rotateY(90deg) translateX(calc(var(--size)*2))
    }

    main>div>div:nth-of-type(7) {
        transform: rotateY(90deg) translateZ(calc(var(--size)))
    }

    main>div>div:nth-of-type(8) {
        transform: rotateY(90deg)translateZ(calc(var(--size))) translateX(var(--size))
    }

    main>div>div:nth-of-type(9) {
        transform: rotateY(90deg)translateZ(calc(var(--size))) translateX(calc(var(--size)*2))
    }

}